[submodule "vendor/moto"]
	path = vendor/moto
	url = https://github.com/JackDanger/moto.git
[submodule "vendor/localstack"]
	path = vendor/localstack
	url = https://github.com/localstack/localstack.git
